<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="filterText">
  <div *ngIf="filterText" id="emailHelp" class="form-text">You searched for <strong>{{filterText}}</strong></div>
</div>
<h3 *ngIf="products; else: noProduct">{{title}}</h3>
<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      No product in this category
    </div>
  </ng-template>
  <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
    <img [src]="product.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name | uppercase}} {{product.price | currency:'USD':true:"1.2-2"}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a (click)="addToCart(product)" target="_blank" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
